<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="io.github.astrapi69.date.comparators.DayComparatorTest"/>
      <class name="io.github.astrapi69.date.AgeTest"/>
      <class name="io.github.astrapi69.date.CalculateDateExtensionsTest"/>
      <class name="io.github.astrapi69.date.ConvertDateExtensionsTest"/>
      <class name="io.github.astrapi69.date.CreateDateExtensionsTest"/>
      <class name="io.github.astrapi69.date.DateExtensionsTest"/>
      <class name="io.github.astrapi69.date.DatePatternsTest"/>
      <class name="io.github.astrapi69.date.IntervalExtensionsTest"/>
      <class name="io.github.astrapi69.date.ParseDateExtensionsTest"/>
      <class name="io.github.astrapi69.date.TimeZoneExtensionsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
